@using hotel_reservation.Models
@model AdminLogin

@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="simple-login-container justify-content-center">
        <h2>Admin Login</h2>
        @using (Html.BeginForm("AdminPanel", "Home", FormMethod.Post))
        {
            <div class="row">

                <div class="col-md-6 form-group ">
                    @Html.LabelFor(admin => admin.username)
                    @Html.TextBoxFor(admin => admin.username, new { @class = "form-control" , placeholder ="username"})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group ">
                    @Html.LabelFor(admin => admin.password)
                    @Html.TextBoxFor(admin => admin.password, new { @class = "form-control"  , placeholder ="password"})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="submit" class="btn btn-login" placeholder="Login">
                </div>
            </div>
        }

    </div>

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>