
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                About <strong>Project</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="~/Content/img/intro-pic.jpg" width="500px" height="400px" alt="">
        </div>
        <div class="col-md-6">
          <p>  Without an online reservation system, the business for a hotel would significantly drop. Therefore, this Hotel Reservation System is being developed for customers to be able to book rooms online. The system will be an online web site that displays general information about the hotel, the types of rooms and their properties, and allows the customer to make a reservation. The system will also allow system admins to view and manage these reservations.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Our <strong>Team</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
           
            <h3>
           
                Mücahit Tozal
                <small>Developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
           
            <h3>
                Doğan Özbayrak
                <small> Developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            
            <h3>
                Emre Ulusoy
                <small>Analyst</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    
        <div class="col-sm-6 text-center">
            
            <h3>
                Ferhat Erduran
                <small>Designer/Database</small>
            </h3>
        </div>
        <div class="col-sm-6 text-center">
            
            <h3>
                Uğur Eren Temel
                <small>Tester</small>
            </h3>
        </div>
       
        <div class="clearfix"></div>
    </div>
</div>

    </div>
